<p-dataTable [value]="customerList">
  <p-header>
    <div>
      <button pButton type="button" icon="fa fa-plus" (click)="addCustomer()"></button>
      &nbsp;Add Customer
    </div>
  </p-header>
  <p-column>
    <ng-template pTemplate type="body" let-Customer="rowData">
      <button pButton type="button" icon="fa fa-pencil" (click)="editCustomer(Customer)"></button>
      <button pButton type="button" icon="fa fa-trash"  (click)="deleteCustomer(Customer)"></button>
    </ng-template>
  </p-column>
  <p-column field="customerID" header="Customer ID"></p-column>
  <p-column field="companyName" header="Company Name"></p-column>
  <p-column field="contactName" header="Contact Name"></p-column>
  <p-column field="address" header="Address"></p-column>
  <p-column field="city" header="City"></p-column>
  <p-column field="region" header="Region"></p-column>
  <p-column field="postalCode" header="Postal Code"></p-column>
  <p-column field="country" header="Country"></p-column>
  <p-column field="phone" header="Phone"></p-column>
  <p-column field="fax" header="Fax"></p-column>
</p-dataTable>

<form [formGroup]="customerForm">
  <p-dialog header="Customer" [(visible)]="selectCustomer" *ngIf="selectCustomer">
    <div class="ui-g-12 ui-md-12 ui-fluid">

      <label>Company Name</label>
      <input pInputText id="input-cName" formControlName="companyName" placeholder="Enter Company Name" [(ngModel)]="selectCustomer.companyName">
      <br/>
      <label>Contact Name</label>
      <input pInputText id="input-cContact" formControlName="contactName" placeholder="Enter Contact Name" [(ngModel)]="selectCustomer.contactName">
      <br/>
      <label>Contact Title</label>
      <input pInputText id="input-cTitle" formControlName="contactTitle" placeholder="Enter Contact Title" [(ngModel)]="selectCustomer.contactTitle">
      <br/>
      <label>Address</label>
      <input pInputText id="input-cAddress" formControlName="address" placeholder="Enter Address" [(ngModel)]="selectCustomer.address">
      <br/>
      <label>City</label>
      <input pInputText id="input-cCity" formControlName="city" placeholder="Enter City" [(ngModel)]="selectCustomer.city">
      <br/>
      <label>Region</label>
      <input pInputText id="input-cRegion" formControlName="region" placeholder="Enter Region" [(ngModel)]="selectCustomer.region">
      <br/>
      <label>Postal Code</label>
      <input pInputText id="input-cPostal" formControlName="postalCode" placeholder="Enter Postal Code" [(ngModel)]="selectCustomer.postalCode">
      <br/>
      <label>Country</label>
      <input pInputText id="input-cCountry" formControlName="country" placeholder="Enter Country" [(ngModel)]="selectCustomer.country">
      <br/>
      <label>Phone</label>
      <input pInputText id="input-cPhone" formControlName="phone" placeholder="Enter Phone" [(ngModel)]="selectCustomer.phone">
      <br/>
      <label>Fax</label>
      <input pInputText id="input-cFax" formControlName="fax" placeholder="Enter Fax" [(ngModel)]="selectCustomer.fax">
      <br/>
      <button pButton type="button" icon="fa fa-trash" label="delete" (click)="okDelete()" *ngIf="isDeleteCustomer == true"></button>
      <button pButton type="button" icon="fa fa-file" label="save" (click)="saveCustomer()" *ngIf="isDeleteCustomer == false"></button>
      <button pButton type="button" icon="fa fa-file" label="cancel" (click)="cancelCustomer()"></button>

    </div>
  </p-dialog>
</form>